# Compiled Object files
*.slo
*.lo
*.o
*.sdf
*.ilk
*.pdb
*.exe
*.1.tlog
*.jpg

*.ipch

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# specific folders to ignore

IGNORE*/